.button {
    width: 100%;
    font-size: 1rem;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #3d3d77;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.button:hover {
    background: #292256;
    transform: scale(1.05);
}

/* Estilo para variantes */
.primary {
    background: #3d3d77;
    color: white;
}

.primary:hover {
    background: #292256;
}

.secondary {
    background: transparent;
    border: 2px solid #292256;
    color: #292256;
}

.secondary:hover {
    background: #292256;
    color: white;
}

@media (max-width: 425px) {
    .button {
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-height: 600px) {
    .button {
        font-size: 0.9rem;
        padding: 8px;
    }
}
